//****************************************************************************
// Variables
$col1: #5bf2fd;
$col2: #fcc736;
$col3: #fd5f5f;
$col4: #bb4dfa;

$mainCol: white;
$colorHeaderFooter: black;
$circle: 10rem;
